body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url('img1.JPG') ;
  min-height: 90%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.body-p{
  font-family: 'Noto Sans JP', sans-serif;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  white-space: pre-wrap;
  margin-left: 10em;
}
.img-p{
  margin-bottom: 110%;
  color:black;
  font-size: 190%;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1em;
  margin-left: 9px;
}
.img-logo{
  width:100px;
  height:60px;
}