body,h1,h2,h3,h4,h5,h6 {font-family: 'Noto Sans JP', sans-serif;}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url('img1.JPG') ;
  min-height: 90%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.body-p{
  font-family: 'Noto Sans JP', sans-serif;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  white-space: pre-wrap;
  margin-left: 10em;
}
.p1{
  margin-bottom: 110%;
  color:black;
  font-size: 190%;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1em;
  margin-left: 9px;
}
.img-logo{
  width:100px;
  height:60px;
}
.img-p{
  left: 65%;
  top: 110%;
  max-width: 100%;
  display:block;
  height: auto;
  position: absolute;
}

.attribute{
  color:black;
  font-size: 190%;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1em;
  margin-left: 5em;
}
.attribute:hover{
  color:red;
}

@media only screen and (min-width:400px) and (max-width: 600px) {
  .body-p {
    display: flex;
    flex-direction: row;
  }
  .img p{
    max-width: 100%;
    display: block;
    height:auto;
  }
}